<div class="container">
  <div class="row board" *ngFor="let row of [0,1,2]">
    <app-square class="square" *ngFor="let col of [0,1,2]" [state]="squares[col+row*3]" (click)="play(col+row*3)"></app-square>
  </div>
  <div class="row info">
    <div *ngIf="!winningPlayer" class="currentStatus">{{currentStatus}}</div>
    <div *ngIf="winningPlayer == 'X'" style="color:#bf0000; font-size:2em;" class="currentStatus">{{currentStatus}}</div>
    <div *ngIf="winningPlayer == 'O'" style="color:#8db600; font-size:2em;" class="currentStatus">{{currentStatus}}</div>
    <div *ngIf="winningPlayer == '1'" style="color:#000; font-size:2em;" class="currentStatus">{{currentStatus}}</div>
    <button (click)="newGame()">New Game</button>
  </div>
</div>
